@use '../settings/variables' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font-family;
  background-color: $background;
  color: $green-vogue-950;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
