@use '@/styles/settings/variables' as *;

.button {
  color: $green-vogue-950;
  background-color: $yellow;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: $border-radius;
  font-size: 16px;
  letter-spacing: 1.22px;
  font-family: $primary-font-family;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
}
