@use '@/styles/settings/variables' as *;
@use '@/styles/mixins/breakpoints' as *;
@use '@/styles/utils/rem-calc' as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem-calc(78);
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: rem-calc(440);
  flex-shrink: 0;
  border-radius: $border-radius;
  background: $green-vogue-900;
  padding: 2rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;

  @include media(sm) {
    padding: rem-calc(46) rem-calc(55);
  }
}

.card::before {
  position: absolute;
  content: '';
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000 100%);
  z-index: 5;
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-out;
  object-fit: cover;
}

.card:hover .bgimage {
  transform: scale(105%);
}

.text {
  color: $white;
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  row-gap: 1rem;

  @include media(sm) {
    align-items: center;
    flex-direction: row;
  }
}

.nameandprice {
  display: flex;
  flex-direction: column;
  gap: rem-calc(24);
  text-align: left;
}

.bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 290px;

  @include media(sm) {
    display: flex;
  }
}

.bararea {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.barcontainer {
  height: 10px;
  width: 100%;
  max-width: 177px;
}
