@use '@/styles/settings/variables' as *;
@use '@/styles/mixins/breakpoints' as *;

.testemonialsSection {
  position: relative;
  display: flex;
  height: 300vh;
  contain: paint;
}

.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 796px;
  padding-top: 6rem;
  @include media(lg) {
    padding-top: 12rem;
  }
}

.bgimage {
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 5;

  @include media(lg) {
    padding-left: 60%;
  }
}

.cards {
  display: flex;
  gap: 24px;
  padding-top: 32px;
}

.card {
  background-color: $white;
  padding: 42px 30px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  flex-shrink: 0;
}

.userinfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stars {
  display: flex;
  gap: 7px;
}
