@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.paymentSectionHeader {
  margin-top: rem-calc(112);
}

.paymentSectionHeader h2 {
  max-width: rem-calc(445);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: rem-calc(44);
  padding: rem-calc(112) 0;

  @include media(md) {
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $green-vogue-200;
  padding: rem-calc(38) rem-calc(44);
  border-radius: $border-radius;
  width: 100%;
  max-width: rem-calc(434);
  min-height: rem-calc(404);
  gap: rem-calc(50);
  box-shadow:
    2px 2px 6px 0 #00000008,
    8px 7px 11px 0 #00000008,
    19px 17px 15px 0 #00000005;
  @include media(sm) {
    max-height: rem-calc(404);
  }
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;

  @include media(sm) {
    flex-direction: row;
  }
}

.card h3 {
  width: rem-calc(183);
  text-align: center;

  @include media(sm) {
    text-align: left;
  }
}

.caption {
  background-color: $green-vogue-950;
}

.card ul li {
  padding-bottom: 0.75rem;
}

.card ul li::before {
  content: url('/icons/CheckBadge.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5ch;
}

.inactive::before {
  filter: brightness(0) invert(78%) sepia(0%) saturate(36%) hue-rotate(167deg) brightness(95%) contrast(98%);
}
