@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.experiencesection {
  background: $green-vogue-950;
  color: $white;
  padding-top: rem-calc(80);
  padding-bottom: rem-calc(112);
}

.experienceSectionHeader {
  margin: rem-calc(112) 0;
}

.experienceSectionHeader p {
  max-width: rem-calc(596);
}
