@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.heroContainer {
  color: $white;
  padding: rem-calc(32) rem-calc(170);
  position: absolute;
  z-index: 10;
  width: 100%;
}

.container {
  color: $green-vogue-950;
  padding: rem-calc(32) rem-calc(170);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  filter: brightness(0) saturate(100%) invert(15%) sepia(10%) saturate(6755%) hue-rotate(178deg) brightness(89%)
    contrast(101%);
}

.navigationlist {
  display: flex;
  gap: rem-calc(32);
}
