@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem-calc(32) 0;
  color: $white;
  z-index: 10;
  width: 100%;
}

.navigationlist {
  display: flex;
  gap: rem-calc(32);
}
