@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.headerContainer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heroContainer {
  color: $white;
  position: absolute;
  z-index: 10;
  width: 95%;
}

.dynamicContainer {
  color: $green-vogue-950;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  filter: brightness(0) saturate(100%) invert(15%) sepia(10%) saturate(6755%) hue-rotate(178deg) brightness(89%)
    contrast(101%);
}

.navigationlist {
  display: none;
  gap: rem-calc(32);

  @include media(md) {
    display: flex;
  }
}
