@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.carouselText {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.crewArea {
  display: flex;
  flex-direction: row;
  gap: rem-calc(96);
}

.reverse {
  flex-direction: row-reverse;
}

.textArea {
  max-width: rem-calc(456);
}

.textArea h3 {
  margin-bottom: 1.5rem;
}

.textArea p {
  margin-bottom: 2rem;
}

.iconborder {
  display: grid;
  place-items: center;
  margin-left: 1ch;
  width: 29px;
  height: 29px;
  background-color: $green-vogue-50;
  border-radius: 100%;
}
