@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.footer {
  background-color: $green-vogue-950;
  color: $white;
  padding: rem-calc(64) 0;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media(xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.firstrow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5.625rem;
}

.arrowup {
  width: 3.125rem;
  height: 3.125rem;
  background-color: $white;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

.secondrow {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 5rem;

  @include media(sm) {
    flex-direction: row;
  }
}

.links {
  display: flex;
  gap: 1rem;
  text-align: left;
  justify-content: space-between;
  width: 100%;

  @include media(sm, lg) {
    width: 60%;
  }
  @include media(lg) {
    width: 40%;
  }
}

.links p {
  padding-bottom: rem-calc(22);
}

.links ul li {
  padding-bottom: 0.75rem;
}

.socialmedia {
  display: flex;
  gap: 0.5rem;
}

.iconframe {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background-color: $green-vogue-900;
}

.thirdrow {
  border-top: 1px solid $green-vogue-900;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 3.5rem;

  @include media(sm) {
    flex-direction: row;
    text-align: left;
  }
}

.legallinks {
  display: flex;
  justify-content: space-between;
  width: 25%;
  gap: 1rem;
}
