@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.crewSection {
  padding: 4rem 0 8rem;
}

.crewSectionHeader {
  margin-bottom: rem-calc(112);
}

.crewAreas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: rem-calc(112);
}
