@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.routesSection {
  padding-top: rem-calc(112);
  padding-bottom: rem-calc(250);
}

.routesSectionHeader {
  max-width: 608px;
  padding-bottom: rem-calc(120);
}
