@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.flexiblesection {
  color: $white;
  background-color: $green-vogue-950;
  padding: rem-calc(112) 0 rem-calc(33);
}

.cards {
  margin-top: rem-calc(115);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: rem-calc(64);
  row-gap: rem-calc(32);
  color: $white-600;
}

.card {
  display: flex;
  flex-direction: column;
  width: rem-calc(272);
  height: rem-calc(220);
  background-color: $white;
  border-radius: $border-radius;
  padding: rem-calc(30);
  gap: rem-calc(20);
}

.moneycircle {
  display: grid;
  place-content: center;
  position: relative;
  height: rem-calc(56);
  width: rem-calc(56);
  background-color: $emerald-100;
  border-radius: 100%;
}

.moneycircle::after {
  content: attr(data-number);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 16px;
  color: $emerald-500;
}

.barcontainer {
  height: 0.5rem;
}

.termstext {
  text-align: center;
  padding-top: rem-calc(121);
  padding-bottom: rem-calc(33);
  color: $white-200;
}

.termstext a {
  color: $green-vogue-400;
}
