@use '@/styles/settings/variables' as *;

.cards {
  display: flex;
  gap: 13px;
}

.card {
  position: relative;
  width: 265px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 10px;
  background: $green-vogue-900;
  padding: 26px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  background-size: 105%;
}

.card::before {
  position: absolute;
  content: '';
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 0%) 24.89%, rgb(0 0 0 / 50%) 97.56%);
  z-index: 5;
}

.card h4 {
  position: relative;
  z-index: 10;
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.1s ease-out;
}

.bgimage:hover {
  transform: scale(105%);
}
