@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
  width: 100%;

  @include media(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border: unset;
  display: flex;
  color: $white;
  position: relative;
  width: 100%;
  height: rem-calc(200);
  flex-shrink: 0;
  border-radius: $border-radius;
  background: $green-vogue-900;
  padding: rem-calc(26);
  cursor: pointer;
  overflow: hidden;

  @include media(lg) {
    max-width: rem-calc(265);
    height: rem-calc(375);
  }
}

.card::before {
  position: absolute;
  content: '';
  height: 55%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 0%) 24.89%, rgb(0 0 0 / 50%) 97.56%);
  z-index: 5;
}

.card h4 {
  position: relative;
  z-index: 10;
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.1s ease-out;
  object-fit: cover;
}

.card:hover .bgimage {
  transform: scale(105%);
}
